name: cedar
on:
  pull_request:
    paths:
      - ".github/workflows/cedar.yaml"
      - "packages/cedar/**"

# Prevent duplicate runs due to Graphite
# https://graphite.dev/docs/troubleshooting#why-are-my-actions-running-twice
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.sha || ''}}
  cancel-in-progress: true

defaults:
  run:
    shell: bash
    working-directory: packages/cedar

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Git Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          submodules: true
      - name: Setup Dart
        uses: dart-lang/setup-dart@e630b99d28a3b71860378cafdc2a067c71107f94 # main
      - name: Get Packages
        run: dart pub get
      - name: Test
        run: dart test --fail-fast
      - name: Test (dart2js)
        run: dart test -p chrome --fail-fast
      - name: Test (dart2wasm)
        run: dart test -p chrome -c dart2wasm --fail-fast
